.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
  
    .page-item {
      margin: 0 5px;
  
  
      .page-link {
        display: flex;
        padding: 5px 10px;
        color: #000;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        cursor: pointer;
  
        &.active {
          font-weight: bold;
          color: #fff;
          background-color: #007bff;
          border-color: #007bff;
        }
      }
    }
  }
  