.fav-page{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.arrow-left{
   
    border:none;
    background-color: #fff;
    cursor:pointer;
}
.favoritesItem{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 48px 0;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(231, 231, 231, 1);

    &__main{
        display: flex;
        gap: 52px;
        align-items: center;
    }

    &__image{
        background-color: rgba(254, 233, 226, 1);
        width: 256px;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            height: 80%;
        }
    }

    &__info{
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 500px;
        justify-content: center;
        

        &__description{
            font-family: "Helios", sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: rgba(168, 168, 168, 1);
        }
    }

    &__rating{
        display: flex;
        gap: 187px;
    }

    &__price{
        font-size: 40px;
        line-height: 60px;
        font-weight: 700;
    }
}
.red-favorite{
    border: 1px solid  rgba(252, 133, 127, 1);
    cursor: pointer;
   
}