.arrows{
    display: flex;
    gap: 16px;

    button{
        width: 50px;
        border: none;
        background-color: #fff;
        display: flex;
        justify-content: center;
        
        &.active {
            &:hover {
                background-color: rgba(168, 168, 168, 1);
                transition: 0,3s;
                color: #fff;
            }
        }
            &:focus {
                background-color: rgba(168, 168, 168, 1);
                transition: 0,3s;
                color: #fff;
            }
 
        }
    }

    






