.slider-card {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    border: 2px rgb(246, 194, 177) solid;

    &__box{
        display: flex;
        flex-direction: row;
        gap: 37px;
    }
    

    &__content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        
    }

    &__img-box {
        width: 326px;
        height: 264px;
        overflow: hidden;
        display: flex;
        align-items: center;
        background-color: rgba(254, 233, 226, 1);
        cursor: pointer;
        transition: all 5s ease;
        border: none;

        :hover{
        transform: scale(1.1);
        }

    }

    &__img {
        max-width: 85%;
        max-height: 85%;
        display: block;
        margin: auto;
    }


    &__text{
        padding: 0 5px;
        height: 70px;
    }

    &__authors{
        font-family: 'Helios', sans-serif;
        color: rgba(168, 168, 168, 1);
        padding: 0 5px;
    }

    &__info{
        font-size:  24px;
        line-height: 32px;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
        
    }
}
