.bookCard-page{
    display: flex;
    gap: 40px;
    flex-direction: column;

    // &__arrow-button{
    //     width: 60px;
    //     border: none;

        
    //     :hover{
    //         background-color: black;
    //     }
    // }
}
.cartPage{
    display: flex;
    flex-direction: column;
    gap: 37px;

    .button{
        width: 60px;

        :active{
            background-color: black;
        }
    }
}