.subscription{
    background-color: rgba(244, 238, 253, 1);
    display: flex;
    // justify-content: start;
    padding: 0 56px;

    &__content{
        
        display: flex;
        flex-direction: column;
        padding: 56px 0;
        gap: 32px;
    }

    &__form{
        display: flex;
    }

    &__form-input{
        
        font-family: 'Helios', sans-serif;
        width: 100%;
        height: 56px;
        padding: 0 20px;
        border: 1px solid rgba(231, 231, 231, 1);
        outline: none;
        font-size: 16px;
        font-weight: 400;

        &:focus {
            border: 2px solid rgba(231, 231, 231, 1);
        }

        &:disabled {
            color: rgba(168, 168, 168, 1);
            background-color: rgba(231, 231, 231, 1);
            cursor: not-allowed;
        }

        &.error {
            border-color: rgba(252, 133, 127, 1);
        }
    }


.subscription__form-btn{
        // border: 1px solid black;
        background-color: rgba(49, 48, 55, 1);
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        padding: 16px 40px;
        cursor: pointer;

        &.active {
            &:hover {
                background-color: rgba(91, 90, 98, 1);
            }
        }

        &.disabled {
            background-color: rgba(168, 168, 168, 1);
            cursor: not-allowed;
            color: #fff;
        }
    }



}