.main{
    display: flex;
    flex-direction: column;
    gap: 48px;

    &__box-cards{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }
}

.blog__tabs{
    display: flex;
    flex-direction: column;
    gap: 72px;
}
