.cart-page{
    display:flex;
    flex-direction: column;
    gap: 32px;

    

    &__check-out{
        display: flex;
        justify-content: flex-end;
        
        &__main{
            display: flex;
            flex-direction: column;
            width: 256px;

            .button{
                padding: 18px 145px 18px 110px;
                align-items: center;
                display: flex;
            }
        }
    }
}

.arrow-left{
   
        border:none;
        background-color: #fff;
        cursor:pointer;
}

.cartItem{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 48px 0;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(231, 231, 231, 1);

    &__price{
        font-size: 40px;
        line-height: 60px;
        font-weight: 700;
    }

    &__main{
        display: flex;
        gap: 32px;

    }

    &__image{
        background-color: rgba(254, 233, 226, 1);
        width: 256px;
        height: 170px;
        display: flex;
        justify-content: center;
        display: flex;
        align-items: center;

        img{
            height: 80%;
        }
    }

    &__info{
        display: flex;
        width: 500px;
        flex-direction: column;
        gap: 10px;
        justify-content: center;

        p{
            font-family: "Helios", sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: rgba(168, 168, 168, 1);

        }
    }


    &__close{
        color: rgba(49, 48, 55, 1);
        background-color:#fff;
        padding: 16px;
        cursor: pointer;
        border: none;

        &:hover {
            background-color: rgba(168, 168, 168, 1);
            color: #fff;
            transition: 0.3s;
        }
        &:focus {
            background-color: rgba(168, 168, 168, 1);
            color: #fff;
            transition: 0.3s;
        }
    }
}



.totals{
    display: flex;
    justify-content: space-between;
    font-family: 'Helios', sans-serif;
    font-size: 16px;
    line-height: 24px;
    gap: 88px;

    &__price{
        color: rgba(168, 168, 168, 1);
    }

    &__total-price{
        font-weight: 700px;
        font-family: 'Bebas Neue', sans-serif;
        color: black;
        font-size: 24px;
        line-height: 32px;
    }
}