.cartItem{
    display: flex;
    width: 1120px;
    gap: 130px;
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;

    &__price{
        font-size: 40px;
        line-height: 60px;
        font-weight: 700;
    }

    &__main{
        display: flex;
        gap: 32px;

    }

    &__image{
        background-color: rgba(215, 228, 253, 1);
        width: 256px;
        display: flex;
        justify-content: center;
    }

    &__info{
        display: flex;
        flex-direction: column;
        gap: 10px;

        p{
            font-family: "Helios", sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: rgba(168, 168, 168, 1);

        }
    }


    &__close{
        color: rgba(49, 48, 55, 1);
        background-color:#fff;
        padding: 16px;
        cursor: pointer;
        border: none;

        &:hover {
            background-color: rgba(168, 168, 168, 1);
            color: #fff;
            transition: 0.3s;
        }
        &:focus {
            background-color: rgba(168, 168, 168, 1);
            color: #fff;
            transition: 0.3s;
        }
    }
}

