.sign-in {
    margin: 110px 0;

    &__form {
        margin: 32px auto 0;
        max-width: 624px;
        border: 1px solid #DADADA;
        padding: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    &__form-info{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    &__form-attention{
        font-family: 'Helios', sans-serif;
        font-size: 16px;
        font-weight: 400;
        background-color: rgba(244, 238, 253, 1);
        padding: 20px;
    
    }
    
    &__form-attention span{
        font-weight: 700;
    }
}

