
.sign-in {
    margin: 110px 0;

    &__form {
        margin: 72px auto 0;
        max-width: 624px;
        border: 1px solid #DADADA;
        padding: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        
        a{

            font-family: 'Helios', sans-serif;
            margin-top: -30px;
            color: rgba(49, 48, 55, 1);
            font-size: 14px;
        }

        &-description { 
            text-align: center;
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            color: #8D8E97;
        }

        &-link {
            color: #2231aa;
        }
    }
} 

.tabs {
    
    display: flex;
    justify-content: space-around;
    column-gap: 24px;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 24px;
    font-weight: 600;
    line-height: 24px;
}
.forgot-password{
    font-family: 'Helios', sans-serif;
    margin-top: -30px; 
    color: rgba(49, 48, 55, 1);
    font-size: 14px;
    width: 130px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}